<!-- upload.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传文件翻译</title>
</head>
<body>
    <h1>上传文件翻译</h1>
    
    <form id="upload-audio-form" enctype="multipart/form-data">
        <input type="file" name="audio" accept="audio/*">
        <select id="source-language">
            <option value="zh-CN">中译英 (Chinese to English)</option>
            <option value="en">英译中 (English to Chinese)</option>
            <option value="fr">法译中 (French to Chinese)</option>
            <option value="zh-CN-fr">中译法 (Chinese to French)</option>
            <option value="fr-en">法译英 (French to English)</option>
            <option value="en-fr">英译法 (English to French)</option>
        </select>
        
        
        <button type="submit">翻译</button>
    </form>

    <p id="transcription-result"></p>
    <p id="translation-result"></p>

    <button onclick="location.href='/'">返回主页</button>

    <script>
        document.getElementById('upload-audio-form').addEventListener('submit', async function(event) {
            event.preventDefault();
            const formData = new FormData();
            const audioFile = document.querySelector('input[name="audio"]').files[0];
            const sourceLanguage = document.getElementById('source-language').value;
            formData.append('audio', audioFile);
            formData.append('source_language', sourceLanguage);

            const response = await fetch('/transcribe', {
                method: 'POST',
                body: formData
            });

            const data = await response.json();
            document.getElementById('transcription-result').textContent = "原文: " + data.transcription;
            document.getElementById('translation-result').textContent = "翻译结果: " + data.translation;
        });
    </script>
</body>
</html>
